/* Reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body */
body {
    margin-top:0px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

/* Estilo para o cabeçalho */
#header {
    position: sticky; /* Torna o cabeçalho fixo ao rolar */
    top: 0; /* Fixa no topo */
    z-index: 1000; /* Garante que esteja acima do conteúdo */
    background-image: url('IMG_0922.jpg'); /* Caminho da imagem */
    background: linear-gradient(to right, #444, #333); /* Degradê */
    padding: 0px 0px;
    display: flex;
    flex-direction: column; /* Permite empilhar título e links */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* Estilo do contêiner */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilo do título */
#header h1 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 10px;
}

/* Estilo do menu de navegação */
.header-nav {
    display: flex; /* Links lado a lado */
    gap: 15px; /* Espaço entre os links */
}

.header-nav a {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 0px 0px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

.header-nav a:hover {
    background-color: #777;
}

/* Ajustes responsivos para smartphones */
@media (max-width: 768px) {
    #header h1 {
        font-size: 1.2rem;
    }
    .header-nav {
        flex-wrap: wrap; /* Permite que os links fiquem em linhas adicionais, se necessário */
        gap: 10px;
    }
    .header-nav a {
        padding: 8px 12px;
        font-size: 0.8rem;
    }
}


/* Sections */
.section {
    padding: 1rem;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Videos */
.videos iframe {
    width: 100%;
    height: 250px;
    margin: 1rem 0;
}

.contactbutton {
    display: inline-block;
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; 
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

footer .social-links img {
    width: 30px;
    margin: 0 10px;
}

