/* Reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body */
body {
    margin-top:70px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

/* Header */
header {
    height: 80px; /* Define a altura fixa do cabeçalho */
    line-height: 70px;
    background: linear-gradient(to right, #555, #333);
    color: #fff;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header h1 {
    text-align: left;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 0.1rem;
}

nav ul li {
    margin: 0px;
}

nav ul li a {
    color: #fff;
    font-weight: 700;
}

/* Sections */
.section {
    padding: 2rem;
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Videos */
.videos iframe {
    width: 100%;
    height: 250px;
    margin: 1rem 0;
}

.contactbutton {
    display: inline-block;
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center; 
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

footer .social-links img {
    width: 30px;
    margin: 0 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        height: 90px; /* Aumenta a altura para caber texto e botões */
        line-height: normal; /* Remove alinhamento automático em dispositivos menores */
    }

    body {
        margin-top: 90px; /* Ajusta o espaço superior de acordo com o cabeçalho */
    }

    nav ul {
        flex-direction: column; /* Empilha os links em telas pequenas */
        text-align: center; /* Centraliza os itens */
    }

    nav ul li {
        margin: 2px 0; /* Adiciona espaçamento entre os links */
    }
}
